# No whitespace after the comma or in your keyboard name!
config SHIELD_MAMEKEYS_R
        def_bool $(shields_list_contains,mamekeyS_R)
        
config SHIELD_MAMEKEYS_L
        def_bool $(shields_list_contains,mamekeyS_L)