#include <dt-bindings/zmk/matrix_transform.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/bt.h>

/ {

    chosen {
        zmk,physical-layout = &mamekeyS_physical_layout;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <12>;
        columns = <11>;
		// | SW1 (0)  | SW5   | SW9   | SW13  | SW16  |       |                   |         | SW4 (7)| SW8   | SW11  | SW14  | SW18 (11) |
		// | SW2 (12) | SW6   | SW10  | SW14  | SW17  | JOYS  | SW22 |     | SW22 | SW1 (20)| SW5    | SW9   | SW12  | SW15  | SW19 (25) |
		// | SW3 (26) | SW7   | SW11  | SW15  | SW18  | SW20  |                   | SW2 (32)| SW6    | SW10  | SW13  | SW16  | SW20 (37) |
		// | SW4 (38) | SW8   | SW12  | SW23  | SW19  | SW21  |                   | SW3 (44)| SW7    | TRACKBALL     | SW17  | SW21      |  
        map = <
                      RC(0,1) RC(1,0) RC(2,0) RC(3,0) RC(4,0)                                      RC(7,6) RC(8,6) RC(9,6) RC(10,6) RC(11,6)
                      RC(0,2) RC(1,2) RC(2,1) RC(3,1) RC(4,1) RC(4,5) RC(5,4)    RC(11,10) RC(6,7) RC(7,8) RC(8,7) RC(9,7) RC(10,7) RC(11,7)
                      RC(0,3) RC(1,3) RC(2,3) RC(3,2) RC(4,2) RC(5,0)                      RC(6,8) RC(7,9) RC(8,9) RC(9,8) RC(10,8) RC(11,8)
                      RC(0,4) RC(1,4) RC(2,4)   RC(3,4)  RC(4,3) RC(5,1)                 RC(6,9) RC(7,10)                RC(10,9) RC(11,9) 
                      
                      RC(0,5) RC(1,5) RC(2,5) RC(3,5)
        >;
    };
    
    mamekeyS_physical_layout: mamekeyS_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;

           keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  850    0       0     0     0>
            , <&key_physical_attrs 100 100  950    0       0     0     0>
            , <&key_physical_attrs 100 100 1050    0       0     0     0>
            , <&key_physical_attrs 100 100 1150    0       0     0     0>
            , <&key_physical_attrs 100 100 1250    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            , <&key_physical_attrs 100 100  750  100       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  100       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  100       0     0     0>
            , <&key_physical_attrs  50 100  600  150       0     0     0>
            , <&key_physical_attrs  50 100  700  150       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>
            , <&key_physical_attrs 100 100  750  200       0     0     0>
            , <&key_physical_attrs 100 100  850  200       0     0     0>
            , <&key_physical_attrs 100 100  950  200       0     0     0>
            , <&key_physical_attrs 100 100 1050  200       0     0     0>
            , <&key_physical_attrs 100 100 1150  200       0     0     0>
            , <&key_physical_attrs 100 100 1250  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  450  300       0     0     0>
            , <&key_physical_attrs 100 100  550  300       0     0     0>
            , <&key_physical_attrs 100 100  700  300       0     0     0>
            , <&key_physical_attrs 100 100  800  300       0     0     0>
            , <&key_physical_attrs 100 100 1150  300       0     0     0>
            , <&key_physical_attrs 100 100 1250  300       0     0     0>           ;
    };
    
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";

        interrupt-gpios = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >;
    };
    
    //right hand trackball AML not release key
    &zip_temp_layer {
    excluded-positions = <
        22 // J
        23 // K
        24 // L
        25 // ;
        34 // m
        35 // ,
        14 // d
        15 // f
        26 // z(shift)
        38 // ctrl
        39 // win(command)
        >;
    };
    
    //Prevent accidental AML activation
    &zip_temp_layer {
        require-prior-idle-ms = <200>;
    };
    
    //right hand trackball
    trackball_central_listener: trackball_central_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        input-processors = 
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>;         //Y軸反転
            //<&zip_xy_transform INPUT_TRANSFORM_XY_SWAP>,        //X軸とY軸の入れ替え
            //<&zip_xy_transform INPUT_TRANSFORM_X_INVERT>,       //X軸反転
            <&zip_temp_layer 9 500>;                            //オートマウスレイヤーの選択
    };

    
        left_encoder: encoder_left {
            compatible = "alps,ec11";
            a-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            steps = <24>;
            status = "disabled";
    };
    
        right_encoder: encoder_right {
            compatible = "alps,ec11";
            a-gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            steps = <24>;
            status = "disabled";
    };
    
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <10>;
    };
};